.navbar {
  background: #ffffff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.02rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.navbar-logo {
  justify-self: start;
  text-decoration: none;
  width: 60%;
  display: flex;
  justify-content: flex-start;
}

.navbar-icon {
  margin-right: 0.5rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: flex-start;
}

.nav-item {
  height: 80px;
  border-bottom: 2px solid transparent;
  padding: 00.5rem 1rem;
}

.nav-item:hover {
  border-bottom: 2px solid #fc00e7;
}
